/* hide the icons inline with macOS stoplights */
div.workspace-tab-header-container-inner {
  /* display: none; */
}

/* hide the other sidebar tabs - eg., search */
div.workspace-leaf-content[data-type="search"] {
  /* display: none; */
}

/* disable default padding on two-pane-browser-view */ 
div.workspace-leaf-content[data-type="two-pane-browser-view"] > div.view-content {
  padding: 0;
}
