/* hide the icons inline with macOS stoplights */
div.workspace-tab-header-container-inner {
  /* display: none; */
}

/* hide the other sidebar tabs - eg., search */
div.workspace-leaf-content[data-type="search"] {
  /* display: none; */
}

/* disable default padding on two-pane-browser-view */ 
div.workspace-leaf-content[data-type="two-pane-browser"] > div.view-content {
  padding: 0;
}

/* similar to default nav-folder-title and nav-file-title */
div.nav-item {
  color: var(--nav-item-color);
  font-weight: var(--nav-item-weight);
}

div.nav-item.is-selected {
  color: var(--nav-item-color-selected);
  background-color: var(--nav-item-background-selected);
}

div.nav-item.is-active {
  color: var(--nav-item-color-active);
  background-color: var(--nav-item-background-active);
  font-weight: var(--nav-item-weight-active);
}

div.nav-item:not(.is-active, .is-selected):hover {
  color: var(--nav-item-color-hover);
  background-color: var(--nav-item-background-hover);
}
